<!DOCTYPE html>
<html>
<head>
    <%- include('template/header'); %>
    <meta charset="utf-8">
    <title>首页</title>
    <link href="/css/common.css" type="text/css" rel="stylesheet"></link>
    <link href="/css/index.css" type="text/css" rel="stylesheet"></link>
    
</head>
<style >
#markdown_parse_preview{
    border-left:0;
}
</style>
<body >
    
    <div class="header">
        <div class="surprise"><span id="jinrishici-sentence" class="shici"></span></div>
        
        <div><a class="tag" href="http://nav.dve2.com">导航</a><a class="tag" href="/papers">写文章</a></div>
    </div>
    <% for(i in list) {%>
    
    <div class="article-row flex row around <%= i%2===0?'to-left':'to-right' %>">
        <div class="s-0 flex row">
            <div class="article-images" style="background:url(<%= list[i].titleImage %>)">
            </div>
        </div>

        <div class="s-1 flex column between">
            <div class="s-1-0 flex column"><%= list[i].tags %>；2019-05-05 </div>

            <div class="s-1-1 flex column"><%= list[i].title %></div>

            <div class="s-1-2 flex column">------------------------------------------------------------------------</div>

            <div class="s-1-3 flex column"><%= list[i].preView %></div>

            <div class="s-1-4 flex column">
                <a class="button" href="/t/<%= list[i].topic_id %>">详细阅读</a>
            </div>
        </div>
    </div>
    <% } %>
    

    <%- include('template/bottomJs'); %>
</body>
</html>

